$supported-browsers: android, android-chrome, android-firefox, blackberry, ie-mobile, ios-safari, opera-mobile;
$primary-color: #2b51b2;
$red-color: #ff5a5f;
$gray-color: #9a9a9a;
$white-color: #fff;
$black-color:#000;